<div class="container">
	<div class="row">
		<div class="col s12">
			<p>Add products</p>
			<form name="addProductForm" data-ng-submit="addProduct(addProductForm.$valid)" enctype="multipart/form-data" novalidate>
				<div class="input-field col s12 m6">
					<label for="name">Name</label>
					<input name="name" type="text" placeholder="name" data-ng-model="product.name" required="" />
					<p ng-show="addProductForm.name.$invalid && !addProductForm.name.$pristine" class="error">Please enter name</p>
				</div>
				<div class="input-field col s12 m6">
					<label for="type">Type</label>
					<input name="type" type="text" placeholder="name" data-ng-model="product.type" required="" />
				</div>
				<div class="file-field input-field col s12 m6">
					<div class="btn">
						<span>Product Image</span>
						<input type="file"  file-model="myFile" />
					</div>
					<div class="file-path-wrapper">
						<input type="text" class="file-path validate">
					</div>
				</div>
				<div class="input-field col s12 m6">
					<input type="submit" data-ng-disabled="addProductForm.$invalid" class="btn" value="Add" />
				</div>
			</form>
		</div>
	</div>
</div>
